@{
    ViewData["Title"] = "Connection tester";
}
<p></p>
<p>Please note: Everything about this is horribly insecure. Never leave this running anywhere near a production environment.</p>
<ul>
    <li>
        @Html.ActionLink("SQL Connection", "SQL", "Test"). Config option "sql" to a connection string.
    </li>
    <li>
        @Html.ActionLink("SQL IP Address", "SQLIP", "Test"). Config option "sql" to a connection string.
    </li>

</ul>
